<section class="module-small">
  <div class="container">
    <div class="row">

      <section class="module pt-0 pb-0" id="about">
        <div class="row position-relative m-0">
          <div class="col-xs-12 col-md-6 side-image">
            <img src="{{ user.avatar }}" width="500px" height="700px">
          </div>
          <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="module-title font-alt align-left">{{ user.first_name}} {{ user.last_name }}</h2>
                <p [innerHTML]="user.description_english | safe: 'html'"></p>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div><!-- row -->
  </div><!-- container -->
</section>
