/*
https://onextrapixel.com/40-stunning-website-designs-with-great-color-schemes/
Kikk Festival
*/

:root{
  --color1: #063e53;
  --color2: #0193b7;
  --color3: #735d41;
  --color4: #856941;
  --color5: #d1c5b7;
}
