<main>
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>

  <!-- ---------------------- navigation -------------------------- -->
  <app-navigation></app-navigation>

  <div class="main">
    <!-- <app-article-base></app-article-base> -->
    <router-outlet></router-outlet>


    <!-- ---------------------- footer ------------------------------ -->
    <app-footer></app-footer>
  </div><!-- div main -->

  <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
