<!-- Widget [Search Bar Widget]-->
<div class="widget search">
  <header>
    <h3 class="h6">Search the article blog</h3>
  </header>
  <form class="search-form" (ngSubmit)="searchForm(f)" #f="ngForm">
    <div class="form-group">
      <input type="search" name="searchstring" placeholder="What are you looking for?"
        ngModel required searchstring #searchstring="ngModel" />
      <button type="submit" class="submit" [disabled]="!f.valid"><i class="icon-search"></i></button>
    </div>
  </form>
</div>


<!-- Widget [Latest Posts Widget]        -->
<div class="widget latest-posts">
  <header>
    <h3 class="h6">Most View Articles</h3>
  </header>
  <div class="blog-posts">
    <a *ngFor="let article of articleList" [routerLink]="['/article', article.slug]">
      <div class="item d-flex align-items-center">
        <div class="image"><img src="{{ articleService.mainUrl }}{{ article.image }}" alt="..." class="img-fluid"></div>
        <div class="title" style="font-size:0.8em;"><strong>{{ article.title_english }}</strong>
          <div class="d-flex align-items-center">
            <div class="views"><i class="icon-eye"></i> {{ article.view_count }}</div>
            <div class="comments"><i class="icon-clock"></i>{{ article.updated_date }}</div>
          </div>
        </div>
      </div></a></div>
</div>



<!-- Widget [Categories Widget]-->
<div class="widget categories">
  <header>
    <h3 class="h6">Categories</h3>
  </header>
  <div class="item d-flex justify-content-between" *ngFor="let category of categoryList">
    <a [routerLink]="['/category', category.slug]">{{ category.name }}</a><span>{{ category.articles_count }}</span>
  </div>
</div>



<!-- Widget [Tags Cloud Widget]-->
<div class="widget tags">
  <header>
    <h3 class="h6">Tags</h3>
  </header>
  <ul class="list-inline">
    <li class="list-inline-item" *ngFor="let tag of tagList">
      <a [routerLink]="['/tag', tag.slug]" class="tag">{{ tag.name }}</a>
    </li>
  </ul>
</div>
