<section class="module-small">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <img src="assets/blogbootstrap/img/ali_bio.jpg" alt="mohammad ali khandan" class="rounded float-left aboutus-img">
      </div>
      <div class="col-md-6">
        <h2>About</h2>
        <p class="text-justify">
          Hi, I’m Mohammad Ali Khandan. I’m a software developer and researcher from Iran.
          I’m working with Python and Django currently, also I had worked with Java, C# and ASP.net for several years.
        </p>
        <p class="text-justify">
          Everything I have learned about programming, are from people who shared their experiences on the Internet.
          Therefore, I created this blog to share some of my thoughts and experiences about programming.
        </p>
        <p class="text-justify">
          I’m not a professional at Python/Django, but I like programming, eager to learn much more and share my learnings with others.
        </p>
        <p class="text-justify">
          If articles in this blog was useful,  honor me with feedbacks.
        </p>
        <ul class="social-menu" style="font-size:3em;">
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/mohammadalikhandan/"><i class="fa fa-linkedin"></i></a></li>
          <li class="list-inline-item"><a href="https://github.com/mohammadali66"><i class="fa fa-github"></i></a></li>
          <li class="list-inline-item"><a href="https://stackoverflow.com/users/7678093/mohammad-ali"><i class="fa fa-stack-overflow"></i></a></li>
        </ul>
      </div>
      <!-- <div class="col-md-12">
        <p class="text-justify">
          Some website that was useful for me:
        </p>
        <ul>
          <li><a href="https://www.djangoproject.com/">djangoproject website</a></li>
          <li><a href="https://simpleisbetterthancomplex.com/">Vitor Freitas website</a></li>
          <li><a href="https://www.codingforentrepreneurs.com/">Justin Mitchel website</a></li>
          <li><a href="https://djangogirls.org/">django girls</a></li>
        </ul>
      </div> -->
    </div><!-- row -->
  </div><!-- container -->
</section>
