<div class="container">
  <div class="row">

    <main class="posts-listing col-lg-8">
      <div class="container">
        <h4>
          <div class="alert alert-primary" role="alert">
            Searching for <span class="alert-link">{{ searchstring }}</span>
          </div>
        </h4>
        <div class="row">
          <!-- post -->
          <div class="post col-xl-6" *ngFor="let article of articleList">
            <div class="post-thumbnail"><a [routerLink]="['/article', article.slug]"><img src="{{ articleService.mainUrl }}{{ article.image }}" alt="..." class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last">{{ article.updated_date }}</div>
                <div class="category"><a [routerLink]="['/category', article.category.slug]">{{ article.category.name }}</a></div>
              </div><a [routerLink]="['/article', article.slug]">
                <h3 class="h4">{{ article.title_english }}</h3></a>
              <p class="text-muted">{{ article.abstract_english | slice :0:100 }} ...</p>
              <footer class="post-footer d-flex align-items-center"><a [routerLink]="['/user/authorprofile', article.author.slug]" class="author d-flex align-items-center flex-wrap">
                  <div class="avatar"><img src="{{ articleService.mainUrl}}{{ article.author.avatar }}" alt="..." class="img-fluid"></div>
                  <div class="title"><span>{{ article.author.username }}</span></div></a>
                <div class="date"><i class="icon-clock"></i>{{ article.updated_date }}</div>
              </footer>
            </div>
          </div>
          <p *ngIf="articleList?.length === 0">Nothing Found</p>
        </div>

      </div>
    </main>

    <aside class="col-lg-4">
      <app-article-side-bar></app-article-side-bar>
    </aside>
  </div>
</div>
