<div *ngIf="loggedUsername; then log else not_log"></div>

<!-- ------------------ log ----------------------- -->
<ng-template #log>
  {{ message }}
  <form (ngSubmit)="createCommentForm(f)" #f="ngForm" class="commenting-form">
    <div class="row">
      <div class="form-group col-md-12">
        <textarea class="form-control" id="content" name="content"
          rows="7" placeholder="Comment" dir="auto"
          ngModel required content #content="ngModel"></textarea>
      </div>
    </div>
    <div class="form-group col-md-12">
      <button class="btn btn-round btn-secondary" type="submit">Post comment</button>
    </div>


  </form>
</ng-template>

<!-- ------------------ not log ----------------------- -->
<ng-template #not_log>
  <div class="alert alert-success" role="alert">
    If you want to write comment for this article
    <a [routerLink]="['/login']">login</a>
    please, or if you don't have account
    <a [routerLink]="['/register']">register</a>
    first.
  </div>
</ng-template>
