<section class="featured-posts no-padding-top" style="margin:100px 0 0;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Categories</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <ul class="list-inline">
          <li class="list-inline-item" style="margin:40px 40px 40px 40px;"><a class="" [routerLink]="" (click)="getArticles(-1)">All</a></li>
          <li class="list-inline-item" style="margin:40px 40px 40px 40px;" *ngFor="let category of categoryList; let i=index">
            <a class="" data-wow-delay="0.2s" [routerLink]="" (click)="getArticles(i)">{{ category.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let article of articleList_forDisplay" class="post col-md-4">
        <div class="post-thumbnail">
          <a [routerLink]="['/article', article.slug]">
            <img src="{{ categoryService.mainUrl }}{{ article.image }}" alt="{{ article.image }}" class="img-fluid">
          </a>
        </div>
        <div class="post-details">
          <div class="post-meta d-flex justify-content-between">
            <div class="date">{{ article.updated_date }}</div>
          </div><a [routerLink]="['/article', article.slug]">
            <h5 class="text-center">{{ article.title_english }}</h5></a>
            <p class="text-muted">{{ article.abstract_english | slice :0:100 }} ...</p>
        </div>
      </div>
    </div>    
  </div>
</section>
