<section class="module-small">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3 sidebar">
        <app-article-side-bar></app-article-side-bar>
      </div>

      <div class="col-sm-8 col-sm-offset-1">

        <div class="post">
          <div class="post-thumbnail"><img src="{{ article.image }}" alt="Blog Featured Image"/></div>
          <div class="post-header font-alt">
            <h1 class="post-title">{{ article.title_english }}</h1>
            <div class="post-meta">By&nbsp;<a  [routerLink]="['/user/authorprofile', article.author.slug]">{{ article.author.username }}</a>| {{ article.updated_date }} | 3 Comments |
              <a *ngFor="let tag of article.tags" [routerLink]="['/tag', tag.slug]">{{ tag.name }}, </a>

            </div>
          </div>
          <div class="post-entry" [innerHTML]="article.content_english| safe: 'html'">

          </div>
        </div>


      </div>

    </div><!-- row -->
  </div><!-- container -->
</section>
