<div class="container">
  <div class="row">

    <main class="post blog-post col-lg-8">
      <div class="container">
        <div class="post-single">
          <div class="post-thumbnail"><img src="{{ articleService.mainUrl }}{{ article.image }}" alt="{{ article.title_english }}" class="img-fluid"></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="category"><a [routerLink]="['/category', categoryOfArticle.slug]">{{ categoryOfArticle.name }}</a></div>
            </div>
            <h1>{{ article.title_english }}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
            <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
              <a [routerLink]="['/user/authorprofile', article.author.slug]" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="{{ articleService.mainUrl }}{{ article.author.avatar }}" alt="{{ article.author.username }}" class="img-fluid"></div>
                <div class="title"><span>{{ article.author.username }}</span></div>
              </a>
              <div class="d-flex align-items-center flex-wrap">
                <div class="date"><i class="icon-clock"></i> {{ article.updated_date }}</div>
                <div class="views"><i class="icon-eye"></i> {{ article.view_count }}</div>
                <div class="comments meta-last"><i class="icon-comment"></i>{{ article.comment_count }}</div>
              </div>
            </div>
            <div class="post-body" [innerHTML]="article.content_english| safe: 'html'">

            </div>
            <div class="post-tags">
              <a *ngFor="let tag of article.tags" [routerLink]="['/tag', tag.slug]" class="tag">{{ tag.name }}</a>
            </div>
            <!-- -------------------- Comment ------------------------------ -->
            <div class="post-comments">
              <header>
                <h3 class="h6">Post Comments<span class="no-of-comments">({{ article.comment_count }})</span></h3>
              </header>
              <div class="comment" *ngFor="let comment of article.comments">
                <div class="comment-header d-flex justify-content-between">
                  <div class="user d-flex align-items-center">

                    <div *ngIf="comment.user.avatar; then is_avatar else not_avatar"></div>
                    <ng-template #is_avatar><div class="image"><img src="{{ articleService.mainUrl }}{{ comment.user.avatar }}" alt="avatar" class="img-fluid rounded-circle"/></div></ng-template>
                    <ng-template #not_avatar><div class="image"><img src="/assets/images/default_avatar.svg" alt="avatar" class="img-fluid rounded-circle"/></div></ng-template>

                    <div class="title"><strong>{{ comment.user.username }}</strong><span class="date">{{ comment.updated_datetime }}</span></div>
                  </div>
                </div>
                <div class="comment-body" [innerHTML]="comment.content | safe: 'html'">
                </div>

                <!-- ----- reply ----- -->
                <div class="comment-body">
                  <span *ngIf="loggedUsername">
                    <a [routerLink]="" (click)="onDisplayReply(comment.id)">Reply</a>
                  </span>
                  <div *ngIf="commentIdForDisplayReply == comment.id">
                    <hr>
                    <app-comment-reply
                        [articleId]="article.id"
                        [parentCommentId]="comment.id"
                        (newSubComment)="addReplyComment($event)">
                      </app-comment-reply>
                  </div>
                </div>

                <!-- -------- sub comment ------ -->
                <div class="comment clearfix col-md-8 offset-md-2" *ngFor="let subComment of comment.sub_comment_list">
                  <div class="comment-header d-flex justify-content-between">
                    <div class="user d-flex align-items-center">

                      <div *ngIf="comment.user.avatar; then is_avatar else not_avatar"></div>
                      <ng-template #is_avatar><div class="image"><img src="{{ articleService.mainUrl }}{{ subComment.user.avatar }}" alt="{{ subComment.user.username }}" class="img-fluid rounded-circle"/></div></ng-template>
                      <ng-template #not_avatar><div class="image"><img src="/assets/images/default_avatar.svg" alt="avatar" class="img-fluid rounded-circle"/></div></ng-template>

                      <div class="title"><strong>{{ subComment.user.username }}</strong><span class="date">{{ subComment.updated_datetime }}</span></div>
                    </div>
                  </div>
                  <div class="comment-body" [innerHTML]="subComment.content | safe: 'html'">
                  </div>
                </div>
              </div>
            </div>
            <!-- -------------- Add comment -------------------------------- -->
            <div class="add-comment">
              <h3 class="h6">Add your comment</h3>
              <app-comment-create [articleId]="article.id" (commentContent)="addComment($event)"></app-comment-create>
            </div>
          </div>
        </div>
      </div>
    </main>

    <aside class="col-lg-4">
      <app-article-side-bar></app-article-side-bar>
    </aside>
  </div>
</div>
