<section class="module-small">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3 sidebar">
        <app-article-side-bar></app-article-side-bar>
      </div>

      <div class="col-sm-8 col-sm-offset-1">

        <h4 class="font-alt">Login</h4>
        <hr class="divider-w mb-10">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
          <strong>Alert!</strong> {{ errorMessage }}
        </div>

        <form class="form" (ngSubmit)="loginUserForm(f)" #f="ngForm">

          <div class="form-group">
            <input class="form-control" id="email" type="email" name="email" placeholder="Email"
              ngModel required email #email="ngModel"/>
          </div>
          <div class="form-group">
            <input class="form-control" id="password" type="password" name="password" placeholder="Password"
              ngModel required #password="ngModel"/>
          </div>
          <div class="form-group">
            <button class="btn btn-round btn-b" type="submit"
                [disabled]="!f.valid">Login</button>
          </div>
          <div class="form-group"><a href="">Forgot Password?</a></div>
        </form>


      </div>

    </div><!-- row -->
  </div><!-- container -->
</section>
